<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" type="image/x-icon" href="favicon/favicon.ico" />
    <link rel="canonical" href="https://www.jomar.photos/" />
    <meta property="og:site_name"
        content="Washington DC, Virginia and Maryland photographer. Family, portrait and engagement photographer." />
    <meta property="og:title"
        content="Washington DC, Virginia and Maryland photographer. Family, portrait and engagement photographer." />
    <meta property="og:url" content="https://www.jomar.photos/" />
    <meta property="og:type" content="website" />
    <meta property="og:description"
        content="Washington DC, Virginia and Maryland photographer. Family, portrait and engagement photographer." />
    <meta property="og:image" content="assets/images/family/dc-baby-family-portraits(18).jpg" />
    <meta property="og:image:width" content="311" />
    <meta property="og:image:height" content="326" />
    <meta itemprop="name"
        content="Washington DC, Virginia and Maryland photographer. Family, portrait and engagement photographer." />
    <meta itemprop="url" content="https://www.jomar.photos/" />
    <meta itemprop="description"
        content="Washington DC, Virginia and Maryland photographer. Family, portrait and engagement photographer." />
    <meta itemprop="thumbnailUrl" content="assets/images/family/dc-baby-family-portraits(18).jpg" />
    <link rel="image_src" href="assets/images/family/dc-baby-family-portraits(18).jpg" />
    <meta itemprop="image" content="assets/images/family/dc-baby-family-portraits(18).jpg" />
    <meta name="twitter:title"
        content="Washington DC, Virginia and Maryland photographer. Family, portrait and engagement photographer." />
    <meta name="twitter:image" content="assets/images/family/dc-baby-family-portraits(18).jpg" />
    <meta name="twitter:url" content="https://twitter.com/almontejt" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description"
        content="Washington DC, Virginia and Maryland photographer. Family, portrait and engagement photographer." />
    <meta name="description"
        content="Washington DC, Virginia and Maryland photographer. Family, portrait and engagement photographer." />

    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">
    <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <script type="application/ld+json">
        {
            "@context": "http://schema.org/",
            "@type": "Person",
            "name": "Jomar Thomas",
            "alternateName": "Jomar",
            "url": "https://www.jomar.photos",
            "image": "https://www.jomar.photos/assets/images/about.jpg",
            "sameAs": [
                "https://www.facebook.com/jomar.thomas.125",
                "https://twitter.com/almontejt"
            ],
            "jobTitle": "Photographer",
            "worksFor": {
                "@type": "Organization",
                "name": "Jomar Thomas Photography"
            }
        }
    </script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="../../../assets/css/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>Jomar Photos</title>
</head>

<body>
    <!-- Navigation Section | Top Part  -->
            
    <section id="nav" class="mt-5 mb-5">
    <h1 class="mt-2 mb-2">Jomar Photography</h1>
    <hr>
    <ul class="nav justify-content-center mt-2">
        <li class="nav-item">
            <a class="nav-link" href="../../../index.html">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../../../index.html#about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../../../index.html#gallery">Gallery</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../../../index.html#contact">Contact</a>
        </li>
    </ul>
</section>
    <div class="gallery">
        <img src="../../../assets/images/gallery3/1.jpg" alt="" srcset="">
        <img src="../../../assets/images/gallery3/2.jpg" alt="" srcset="">
        <img src="../../../assets/images/gallery3/3.jpg" alt="" srcset="">
        <img src="../../../assets/images/gallery3/4.jpg" alt="" srcset="">
        <img src="../../../assets/images/gallery3/5.jpg" alt="" srcset="">
        <img src="../../../assets/images/gallery3/6.jpg" alt="" srcset="">
        <img src="../../../assets/images/gallery3/7.jpg" alt="" srcset="">
        <img src="../../../assets/images/gallery3/8.jpg" alt="" srcset="">
        <img src="../../../assets/images/gallery3/9.jpg" alt="" srcset="">
        <img src="../../../assets/images/gallery3/10.jpg" alt="" srcset="">
        <img src="../../../assets/images/gallery3/11.jpg" alt="" srcset="">
        <img src="../../../assets/images/gallery3/12.jpg" alt="" srcset="">
        <img src="../../../assets/images/gallery3/13.jpg" alt="" srcset="">
        <img src="../../../assets/images/gallery3/14.jpg" alt="" srcset="">
        <img src="../../../assets/images/gallery3/15.jpg" alt="" srcset="">
        <img src="../../../assets/images/gallery3/16.jpg" alt="" srcset="">
        <img src="../../../assets/images/gallery3/17.jpg" alt="" srcset="">
        <img src="../../../assets/images/gallery3/18.jpg" alt="" srcset="">
        <img src="../../../assets/images/gallery3/19.jpg" alt="" srcset="">
        <img src="../../../assets/images/gallery3/20.jpg" alt="" srcset="">
        <img src="../../../assets/images/gallery3/21.jpg" alt="" srcset="">
        <img src="../../../assets/images/gallery3/22.jpg" alt="" srcset="">
        <img src="../../../assets/images/gallery3/23.jpg" alt="" srcset="">
        <img src="../../../assets/images/gallery3/24.jpg" alt="" srcset="">
        <img src="../../../assets/images/gallery3/25.jpg" alt="" srcset="">
        <img src="../../../assets/images/gallery3/26.jpg" alt="" srcset="">
        <img src="../../../assets/images/gallery3/27.jpg" alt="" srcset="">
        <img src="../../../assets/images/gallery3/28.jpg" alt="" srcset="">
        <img src="../../../assets/images/gallery3/29.jpg" alt="" srcset="">
        <img src="../../../assets/images/gallery3/30.jpg" alt="" srcset="">
        <img src="../../../assets/images/gallery3/31.jpg" alt="" srcset="">
        <img src="../../../assets/images/gallery3/32.jpg" alt="" srcset="">
        <img src="../../../assets/images/gallery3/33.jpg" alt="" srcset="">
        <img src="../../../assets/images/gallery3/34.jpg" alt="" srcset="">
        <img src="../../../assets/images/gallery3/35.jpg" alt="" srcset="">
        <img src="../../../assets/images/gallery3/36.jpg" alt="" srcset="">
        <img src="../../../assets/images/gallery3/37.jpg" alt="" srcset="">
        <img src="../../../assets/images/gallery3/38.jpg" alt="" srcset="">
    </div>
    
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../../../assets/js/jquery.js"></script>
    <script src="../../../assets/js/popper.min.js"></script>
    <script src="../../../assets/js/bootstrap.min.js"></script>
    <!-- Optional JavaScript -->
    <script src="../../../assets/js/macy.js"></script>
    <script src="../../../assets/js/main.js"></script>
</body>
</html>