@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #949494;
}

#content img {
    margin: 0 auto;
    display: block;
}

#content img:nth-child(1) {
    margin-top: 0.5rem;
}

.card {
    margin: 0 auto;
    max-width: 380px;
}

.card img {
    height: 70px;
}

.card-text {
    font-size: 14px;
}

.card .btn {
    margin: 0 auto;
    display: block;
}

#social {
    margin: 0 auto;
    display: block;
    text-align: center;
    list-style: none;
    padding: 0;
}

#social li {
    display: inline;
    margin: 0.5rem;
}

#social i {
    font-size: 1.25rem;
}

.footer {
    width: 100%;
    margin: 0 auto;
}

.footer p {
    font-size: 14px;
}

.fa-heart {
    color: red;
}